{% extends "layout.html" %}

{% block title %}Students{% endblock %}

{% block content %}
<section class="button-container">
  <h1 data-aos="fade-down">Find Your Company Schedule</h1>
  <form method="POST" action="/companies" class="button-container" data-aos="fade-up">

    <!-- name value sent to flask -->
    <input type="text" name="name" class="search-input" placeholder="Enter your company name" required>

    <button class="animated-btn" type="submit">Search</button>
    <button class="animated-btn" onclick="window.location.href='/'">Back</button>
  </form>
  {% if error %}
    <p style="color:red;" data-aos="fade-up">{{ error }}</p>
  {% endif %}
</section>
{% endblock %}