{% extends "layout.html" %}

{% block title %}Netwerkdagtw{% endblock %}

{% block content %}
<section class="button-container">
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Netwerkdagtw Logo" data-aos="fade-down"/>
  <div class="button-container" data-aos="zoom-in">
    <button class="animated-btn" onclick="window.location.href='/students'">Students</button>
    <button class="animated-btn" onclick="window.location.href='/companies'">Companies</button>
  </div>
</section>
{% endblock %}