{% extends "layout.html" %}

{% block title %}{{ student.name }} | Schedule{% endblock %}

{% block content %}
<!-- General Info Section -->
<section class="button-container" id="general-info" data-aos="fade-down">
  <h1>Welcome, {{ student.name.split(' ')[0] }}!</h2>


  <!-- First Years-->
  {% if student.year == 1 %}
  <p>
  Today you’ll take part in several activities designed to help you start building your professional network of company connections. 
  Throughout the day, you'll participate in company speed dates with your assigned group, attend presentations about the basics and importance of networking, 
  and use our company market to speak with companies at your own pace.
  <br><br>
  Below you will find your group mates and your schedule for the day. Please make sure to meet up with your group and arrive on time to each activity.
  </p>


  <!-- Second Years-->
  {% elif student.year == 2 %}
  <p>
  Today you'll take part in several activities to help you find an internship, and continue growing your professional network. 
  Throughout the day, you'll participate in company speed dates with your assigned group, attend a presentation on the importance of networking, 
  use our company market to speak with companies at your own pace, 
  and end the day by pitching yourself to a company as part of your professional skills development.
  <br><br>
  Below you will find your group mates and your schedule for the day. Please make sure to meet up with your group and arrive on time to each activity.
  </p>

  <!-- Third and Fourth Years-->  
  {% elif student.year == 3 or student.year == 4 %}
  <p>
  Tonight, you will take part in four rounds of 15-minute speed dates with individual company representatives from the companies you’ve been assigned to. 
  Third-year students will participate in 2-on-1 speed dates with their internship duo partner (if both are present), 
  while fourth-year students will have 1-on-1 speed dates. Please take your seat, either individually or with your duo, 
  as quickly as possible to make the most of your time with each representative.
  <br><br>
  Below you will find your schedule for the evening. Please ensure you arrive on time for each speed date and avoid staying longer than your allotted slot 
  so that all students have the opportunity to meet with their assigned companies. Third-year students should meet up with their duo partner (if both are present) 
  before the rounds begin.
  </p>


  <!-- handle no student year -->
  {% else %}
  <p>Your student year is unknown, please contact someone from the committee to help you.</p>
  {% endif %}
  
  <!-- Scroll Button -->
  {% if student.year == 1 or student.year == 2%}
  <button onclick="scrollToElement('group-info')" class="animated-btn">Scroll to group info</button>
  {% else %}
  <button onclick="scrollToElement('student-schedule')" class="animated-btn">Scroll to schedule</button>
  {% endif %}
</section>

<!-- Group Info Section -->
{% if student.year == 1 or student.year == 2%}
<section class="button-container" id="group-info" data-aos="fade-in">
  <!-- Group Number -->
  <h1>Your group</h2>
  <h2><strong>{{ student.group }}</strong> </h2>
  
  <!-- Group Mates -->
  <h1>Your group mates</h1>
  <ul style="list-style-type: none; padding-left: 0;">
    {% for mate in student.group_mates.split(', ') %}
      <li>{{ mate.strip() }}</li>
    {% endfor %}
  </ul>

  <button onclick="scrollToElement('student-schedule')" class="animated-btn">Scroll to schedule</button>
</section>
{% endif %}


<!-- Student Schedule Section -->
<section class="button-container" id="student-schedule" data-aos="fade-in">
    <h1>Your schedule</h1>
    <table class="t-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Event</th>
            </tr>
        </thead>

        <tbody>
          {% for row in schedule %}
          <tr>
              <td>{{ row[0] }}</td> <!-- Time -->
              <td>{{ row[1] }}</td> <!-- Event -->
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <!-- <div class="button-container" style="margin-top: 30px">
      <button class="animated-btn" onclick="window.location.href='/students'">Back to name search</button>  
    </div> -->
</section>


<script>
function scrollToElement(elementId) {
  const el = document.getElementById(elementId);
  if (el) {
    el.scrollIntoView({ behavior: 'smooth' });
  }
}
</script>
{% endblock %}