<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST HOST</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #222;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>TEST HOST 2</h1>
</body>
</html>
